// colors
$white: #fff;
$black: #000;
$blue-light: #EAF6FC;
$blue-medium: #CCDDFF;
$blue-twitter: #00ACEE;
$green-light: #F0FAF9;
$pink: #F063B8;
$pink-light: #FEF0F8;
$pink-medium: #FDE8F5;
$violet: #9C69E2;
$violet-light: #F6F0FD;
$violet-middle: #8A40EE;

$text-gray-dark: #4B5D68;
$text-violet-dark: #212353;
// fonts
$default-font-name: 'Montserrat';
$nav-font: 'Montserrat';
$nav-font-size: 16px;
$fallback: Arial, Helvetica, sans-serif;

$main-font: $default-font-name, $fallback;
$font-path: './fonts/';

$main-font-size: 16px;
$secondary-fonts-size: 18px;

// containers
$container-padding: 15px;
$container-max-width: 1200px;

$gap: 15px;
$defaulp-count-col: 12;

$default-width: 1200px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px
);
